body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1446716336919-df838e44ce7b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0543a683e1899d191e56a57419fa1a59');
  background-position: center;
}

h1 {
  font-size: 7em;
  text-shadow: -2px -2px darkgray;
  font-family: gamegirl;
  text-align: center;
  letter-spacing: 15px;
  padding: 7% 0 4% 0;
  margin-top: -1%;
}

.loginWindow {
  background: #333333;
  margin-left: 24%;
  margin-top: 3%;
  height: 200px;
  border: 2px solid black;
  border-radius: 4px;
  width: 50%;
  box-shadow: -2px -2px white;
  form {
    margin: 8.5% 10%;
  }
  input {
    width: 100%;
    margin-bottom: 1%;
  }
  button {
    margin: 0 auto;
  }
}

.hide {
  display: none;
}

#gameWindow {
  margin-left: 17.75%;
}
