
<div id="game-window" ng-init="gameCtrl.test">{{gameCtrl.test}}</div>

<style>
  body {
    background: #333;
  }
</style>

<script src="game/function.js" charset="utf-8"></script>
<script src="game/movement.js" charset="utf-8"></script>
<script src="game/spells.js" charset="utf-8"></script>
<script src="game/enemy.js" charset="utf-8"></script>
<script src="game/grub.js" charset="utf-8"></script>
<script src="game/preload.js" charset="utf-8"></script>
<script src="game/create.js" charset="utf-8"></script>
<script src="game/skills.js" charset="utf-8"></script>
<script src="game/update.js" charset="utf-8"></script>
<script src="game/render.js" charset="utf-8"></script>
<script src="game/game.js" charset="utf-8"></script>
