body {
  margin: 0;
  padding: 0;
  background-image: url('https://images.unsplash.com/photo-1446716336919-df838e44ce7b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0543a683e1899d191e56a57419fa1a59');
  background-position: center;
}

h1 {
  font-size: 4.75em;
  text-shadow: -2px -2px darkgray;
  font-family: gamegirl;
  text-align: center;
  letter-spacing: 15px;
  padding: 3% 0 1% 0;
  margin-top: -1%;
}

.loginWindow {
  background: #333333;
  margin-left: 24%;
  margin-top: 8%;
  height: 200px;
  border: 2px solid #333333;
  border-radius: 4px;
  width: 50%;
  box-shadow: -2px -2px darkgray;
  form {
    margin: 5% 10%;
    a {
      color: #333333;
      font-family: gamegirl;
      margin-right: 3%;
    }
    input {
      width: 100%;
      margin-bottom: 3%;

    }
    button {
      background: #F3F3F3;
      border: none;
      box-shadow: -2px -2px darkgrey;
      border-radius: 4px;
      margin: 2% 0 0 2%;
      &:hover {
        background: #a9a9a9;
        box-shadow: -2px -2px #ccc;
      }
    }
  }

}

.hide {
  display: none;
}

////////////////////////////////////////// Main Page

#mainMenu {
  div {
    display: inline-block;
    width: 32%;
    height: 580px;
    margin: .5%;
    background: #333333;
    border-radius: 5px;
    border: 1px solid #333333;
    box-shadow: -2px -2px darkgrey;
    vertical-align: top;
    .spriteImg {
      width: 128px;
      height: 128px;
      margin-top: -5%;
      margin-top: -5%;
      background-image: url('/game/assets/player.png');
      z-index: 1;
      zoom: 3.0;
      overflow: hidden;
      -webkit-animation: sprite 1s steps(4) infinite;
    }
    .spriteImg2 {
      width: 128px;
      height: 128px;
      margin-top: -5%;
      margin-left: 10%;
      background-image: url('/game/assets/bear.png');
      z-index: 1;
      zoom: 3.0;
      overflow: hidden;
      animation: sprite 1s steps(4) infinite
    }
    @keyframes sprite {
       100% {
         background-position: -512px;
       }
    }
    .spriteImg3 {
      width: 128px;
      height: 128px;
      margin-top: -5%;
      background-image: url('/game/assets/enemy.png');
      z-index: 1;
      zoom: 3.0;
      overflow: hidden;
      -webkit-animation: sprite 1s steps(4) infinite;
    }
    .btn {
      margin: 55% 35% 0 25%;
      box-shadow: -2px -2px darkgrey;
      font-family: gamegirl;
      color: #333333;
      }
    }
    button {
      &:hover {
        background: #a9a9a9;
        box-shadow: -2px -2px #ccc;
      }
    }
  }

canvas {
  margin-left: 18%;
  border: 1px solid #333333;
}


/////////////////////////////////////////// View Goals Page

.form-control {
  width: 95%;
  font-family: gamegirl;
  margin: 4% 2%;
  background: #F3F3F3;
  color: #333;
  box-shadow: -2px -2px darkgray;
}

.viewGoalsContainer {
  width: 100%;
  height: 100px;
  div {
    background: #333333;
    padding: 1% 0;
    min-height: 500px;
    border-radius: 5px;
  }
  h3 {
    background: #F3F3F3;
    font-family: gamegirl;
    font-size: 1em;
    padding: 1%;
    width: 40.5%;
    display: inline-block;
    margin-left: 6%;
    border-radius: 4px;
    box-shadow: -2px -2px #A9A9A9;
    text-align: left;
  }
}



///////////////////////////////////////Add Goals Page

.goalsContainer {
  .addGoalsDiv {
    display: inline-block;
    vertical-align: top;
    background: #333333;
    width: 75%;
    padding: 2% 0;
    margin-left: 12%;
    min-height: 500px;
    border-radius: 5px;
    border: 1px solid #333333;
    box-shadow: -2px -2px darkgrey;
    .activityInput, .intervalInput {
      width: 77%;
      margin-left: 11%;
      margin-top: 5%;
    }
    #grubSection {
      width: 128px;
      height: 128px;
      background-image: url('/game/assets/grub.png');
      margin-left: 30%;
      margin-top: -7%;
      z-index: 1;
      zoom: 3.0;
      overflow: hidden;
      animation: sprite 1s steps(4) infinite
    }
    @keyframes sprite {
       100% {
         background-position: -512px;
       }
    }
  }
  .viewStatsBtn, .mainMenuBtn, .playGameBtn {
    background: #C0C0C0;
    padding: 1.5%;
    font-family: gamegirl;
    color: #333;
    &:hover {
      background: #a9a9a9;
      box-shadow: -2px -2px #ccc;
    }
    margin: 1% 1% 1% 11%;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: -2px -2px #A9A9A9;
  }
  .addGoalBtn {
    background: #C0C0C0;
    padding: 1%;
    font-family: gamegirl;
    color: #333;
    margin: 0 1% 1% 11%;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: -2px -2px #A9A9A9;
    &:hover {
      background: #a9a9a9;
      box-shadow: -2px -2px #ccc;
    }
  }
}
