body {
  margin: 0;
  padding: 0;
  background-image: url("https://images.unsplash.com/photo-1446716336919-df838e44ce7b?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=0543a683e1899d191e56a57419fa1a59");
  background-position: center; }

h1 {
  font-size: 4.75em;
  text-shadow: -2px -2px darkgray;
  font-family: gamegirl;
  text-align: center;
  letter-spacing: 15px;
  padding: 3% 0 1% 0;
  margin-top: -1%; }

h2 {
  font-size: 1.75em;
  text-shadow: -2px -2px darkgray;
  font-family: gamegirl;
  float: left;
  letter-spacing: 15px;
  padding: 3% 0 1% 0;
  margin-top: -1%; }

.loginWindow {
  background: #333333;
  margin-left: 24%;
  margin-top: 8%;
  height: 200px;
  border: 2px solid #333333;
  border-radius: 4px;
  width: 50%;
  box-shadow: -2px -2px darkgray; }
  .loginWindow form {
    margin: 5% 10%; }
    .loginWindow form a {
      color: #333333;
      font-family: gamegirl;
      margin-right: 3%; }
    .loginWindow form input {
      width: 100%;
      margin-bottom: 3%; }
    .loginWindow form button {
      background: #F3F3F3;
      border: none;
      box-shadow: -2px -2px darkgrey;
      border-radius: 4px;
      margin: 2% 0 0 2%; }
      .loginWindow form button:hover {
        background: #a9a9a9;
        box-shadow: -2px -2px #ccc; }

.hide {
  display: none; }

#mainMenu div {
  display: inline-block;
  width: 32%;
  height: 580px;
  margin: .5%;
  background: #333333;
  border-radius: 5px;
  border: 1px solid #333333;
  box-shadow: -2px -2px darkgrey;
  vertical-align: top; }
  #mainMenu div .spriteImg {
    width: 128px;
    height: 128px;
    margin-top: -5%;
    margin-top: -5%;
    background-image: url("/game/assets/player.png");
    z-index: 1;
    zoom: 3.0;
    overflow: hidden;
    -webkit-animation: sprite 1s steps(4) infinite; }
  #mainMenu div .spriteImg2 {
    width: 128px;
    height: 128px;
    margin-top: -5%;
    margin-left: 10%;
    background-image: url("/game/assets/bear.png");
    z-index: 1;
    zoom: 3.0;
    overflow: hidden;
    animation: sprite 1s steps(4) infinite; }

@keyframes sprite {
  100% {
    background-position: -512px; } }
  #mainMenu div .spriteImg3 {
    width: 128px;
    height: 128px;
    margin-top: -5%;
    background-image: url("/game/assets/enemy.png");
    z-index: 1;
    zoom: 3.0;
    overflow: hidden;
    -webkit-animation: sprite 1s steps(4) infinite; }
  #mainMenu div .btn {
    margin: 55% 35% 0 25%;
    box-shadow: -2px -2px darkgrey;
    font-family: gamegirl;
    color: #333333; }

#mainMenu button:hover {
  background: #a9a9a9;
  box-shadow: -2px -2px #ccc; }

canvas {
  margin-left: 18%;
  border: 1px solid #333333; }

.form-control {
  width: 95%;
  font-family: gamegirl;
  margin: 4% 2%;
  background: #F3F3F3;
  color: #333;
  box-shadow: -2px -2px darkgray; }

.viewGoalsContainer {
  width: 100%;
  height: 100px;
  margin-top: -12%; }
  .viewGoalsContainer div {
    background: #333333;
    padding: 1% 0;
    min-height: 500px;
    border-radius: 5px; }
  .viewGoalsContainer h3 {
    background: #F3F3F3;
    font-family: gamegirl;
    font-size: 1em;
    padding: 1%;
    width: 40.5%;
    display: inline-block;
    margin-left: 6%;
    border-radius: 4px;
    box-shadow: -2px -2px #A9A9A9;
    text-align: left; }

.goalsContainer .addGoalsDiv {
  display: inline-block;
  vertical-align: top;
  background: #333333;
  width: 75%;
  padding: 2% 0;
  margin-left: 12%;
  min-height: 500px;
  border-radius: 5px;
  border: 1px solid #333333;
  box-shadow: -2px -2px darkgrey; }
  .goalsContainer .addGoalsDiv .activityInput, .goalsContainer .addGoalsDiv .intervalInput {
    width: 77%;
    margin-left: 11%;
    margin-top: 5%; }
  .goalsContainer .addGoalsDiv #grubSection {
    width: 128px;
    height: 128px;
    background-image: url("/game/assets/grub.png");
    margin-left: 30%;
    margin-top: -15%;
    z-index: 1;
    zoom: 3.0;
    overflow: hidden;
    animation: sprite 1s steps(4) infinite; }

@keyframes sprite {
  100% {
    background-position: -512px; } }

.goalsContainer #eggSection {
  width: 128px;
  height: 128px;
  background-image: url("/game/assets/easter-egg.png");
  margin-left: 30%;
  margin-top: -2%;
  z-index: 1;
  zoom: 5.0;
  overflow: hidden; }

.goalsContainer .viewStatsBtn, .goalsContainer .mainMenuBtn, .goalsContainer .playGameBtn {
  background: #C0C0C0;
  padding: 1.5%;
  font-family: gamegirl;
  color: #333;
  margin: 1% 1% 1% 11%;
  border-radius: 4px;
  text-decoration: none;
  box-shadow: -2px -2px #A9A9A9; }
  .goalsContainer .viewStatsBtn:hover, .goalsContainer .mainMenuBtn:hover, .goalsContainer .playGameBtn:hover {
    background: #a9a9a9;
    box-shadow: -2px -2px #ccc; }

.goalsContainer .goalsDiv {
  margin-top: 5%;
  margin-left: 1%;
  width: 93%; }
  .goalsContainer .goalsDiv .mainList {
    font-family: gamegirl; }
    .goalsContainer .goalsDiv .mainList > li {
      background: #F3F3F3;
      margin: 1.5%;
      padding: 1%;
      font-size: 1.5em;
      border-radius: 4px;
      box-shadow: -2px -2px #A9A9A9;
      text-align: center;
      list-style-type: none; }
      .goalsContainer .goalsDiv .mainList > li ul {
        width: 100%;
        list-style-type: none;
        background: #F3F3F3; }
        .goalsContainer .goalsDiv .mainList > li ul li {
          margin-top: 2%;
          text-align: center; }
      .goalsContainer .goalsDiv .mainList > li a {
        text-decoration: none;
        color: #333;
        margin-top: .5%;
        text-align: center; }

.background {
  background: #C0C0C0;
  padding: 1.5%;
  box-shadow: -2px -2px #A9A9A9;
  border-radius: 4px; }
