<h1>EXPERIENCE</h1>

<section class="optionContainer">
  <div class="activityDiv">
    <form class="" action="index.html" method="post">
      <a href="" class="addGoalBtn"> New Goal </a>
      <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
      <a href="#/game-window" class="playGameBtn"> Play Game </a>
      <select class="form-control">
        <option>Activity</option>
        <option>Lift</option>
      </select>
    </form>
  </div>
  <div class="intervalDiv">
    <a href="#/add-goals" class="placeHolderBtn"></a>
    <form class="" action="index.html" method="post">
      <select class="form-control">
        <option>Interval</option>
        <option>30 reps</option>
      </select>
    </form>
  </div>
</section>


<!-- <div class="addBeerDiv">
  <form class="" action="index.html" method="post">
    <input type="text" class="form-control" name="photo" ng-model="newBeer.photo" placeholder="Beer Photo" value="">
    <input type="text" class="form-control" name="name" ng-model="newBeer.name" placeholder="Name" value="">
    <input type="text" class="form-control" name="brewery" ng-model="newBeer.brewery" placeholder="Brewery" value="">
    <input type="text" class="form-control" ng-model="newBeer.type" name="type" placeholder="Type" value="">
    <input type="text" class="form-control" name="Description" ng-model="newBeer.description" placeholder="Description" value="">
    <button type="button" ng-click="addBeer(newBeer)" name="button">Add Beer</button>
  </form>
</div> -->
