<h1>Add Goal</h1>

<section class="addGoalsContainer">
  <div class="addGoalsDiv">
    <form class="" action="index.html" method="post">
      <a href="#/view-goals" class="viewGoalsBtn"> View Goals </a>
      <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
      <a href="#/game-window" class="playGameBtn"> Play Game </a>
      <form class="" action="index.html" method="post">
        <input type="text" class="form-control activityInput" name="activity" ng-model="newGoal.activity" placeholder="Add Activity" value="">
        <input type="text" class="form-control intervalInput" name="interval" ng-model="newGoal.interval" placeholder="Add Interval" value="">
        <button type="button" class="btn addGoalBtn" ng-click="addGoal(newGoal)" name="button">Add Goal</button>
      </form>
  </div>
</section>


<!-- <div class="addBeerDiv">
  <form class="" action="index.html" method="post">
    <input type="text" class="form-control" name="photo" ng-model="newBeer.photo" placeholder="Beer Photo" value="">
    <input type="text" class="form-control" name="name" ng-model="newBeer.name" placeholder="Name" value="">
    <input type="text" class="form-control" name="brewery" ng-model="newBeer.brewery" placeholder="Brewery" value="">
    <input type="text" class="form-control" ng-model="newBeer.type" name="type" placeholder="Type" value="">
    <input type="text" class="form-control" name="Description" ng-model="newBeer.description" placeholder="Description" value="">
    <button type="button" ng-click="addBeer(newBeer)" name="button">Add Beer</button>
  </form>
</div> -->


<!-- <div class="beerDiv" ng-repeat="beer in myBeers">
  <img ng-src="{{beer.photo}}" alt="" />
  <h3><span class="titleSpan">{{beer.name}}</span></h3>
  <h4>{{beer.brewery}}</h4>
  <h4>Type: {{beer.type}}</h4>
  <p class="beerDescription">Description: {{beer.description}}</p>
</div> -->
