<h1>EXPERIENCE</h1>

<div class="loginWindow">
    <form class="" action="index.html" method="post">
      <input class="form-control" type="text" name="name" value="" placeholder="Username">
      <input class="form-control" type="password" name="name" value="" placeholder="Password">
      <a href="#/"><button class="registerBtn" type="submit" name="button">Register</button></a>
      <a href="#/main-page"><button class="loginBtn" type="submit" name="button">Login</button></a>
    </form>
</div>
