
<section class="goalsContainer">
  <div class="addGoalsDiv">
    <form class="" action="index.html" method="post">
      <nav>
        <a href="#/game-window" class="playGameBtn"> Play Game </a>
        <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
        <a href="#/view-goals" class="viewStatsBtn"> View Goals </a>
        <a href="#/add-goals" class="viewStatsBtn"> Add Goals </a>
      </nav>

      <section class="viewStatsContainer">
        <div class="viewStatsDiv">
          <h3>Strength: {{statCtrl.stats.strength}}</h3>
          <h3>Endurance: {{statCtrl.stats.endurance}}</h3>
          <h3>Dexterity: {{statCtrl.stats.dexterity}}</h3>
          <h3>Intelligence: {{statCtrl.stats.intelligence}}</h3>
          <h3>Wisdom: {{statCtrl.stats.wisdom}}</h3>
        </div>
      </section>
  </div>
</section>
