<h1>STATS</h1>

<section class="goalsContainer">
  <div class="addGoalsDiv">
    <form class="" action="index.html" method="post">
      <a href="#/game-window" class="playGameBtn"> Play Game </a>
      <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
      <a href="#/goals" class="viewStatsBtn"> View Goals </a>

      <section class="viewStatsContainer">
        <div class="viewStatsDiv">
          <h3>Strength: {{strength.stat}}</h3>
          <h3>Stamina: {{stamina.stat}}</h3>
          <h3>Wisdom: {{Wisdom.stat}}</h3>
          <h3>Intellect: {{Intellect.stat}}</h3>
          <h3>Dexterity: {{Dexterity.stat}}</h3>
          <h3>Completed Goals: {{Goals.completedGoals}}</h3>
        </div>

  </div>
</section>
