
<section class="goalsContainer">
  <div class="addGoalsDiv">
    <form class="" action="index.html" method="post">
      <nav>
        <a href="#/game-window" class="playGameBtn"> Play Game </a>
        <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
        <a href="#/add-goals" class="viewGoalsBtn"> View Goals </a>
        <a href="#/add-goals" class="addGoalsBtn"> Add Goals </a>
      </nav>

      <section class="viewStatsContainer">
        <div class="viewStatsDiv">
          <h3>Strength: {{strength.stat}}</h3>
          <h3>Endurance: {{endurance.stat}}</h3>
          <h3>Wisdom: {{Wisdom.stat}}</h3>
          <h3>Intellegence: {{Intellegence.stat}}</h3>
          <h3>Dexterity: {{Dexterity.stat}}</h3>
          <h3>Completed Goals: {{Goals.completedGoals}}</h3>
        </div>

  </div>
</section>
