
<h1>View Goals</h1>

<section class="viewGoalsContainer">
  <div class="viewGoalsDiv">
    <h3>Goals</h3>
    <div class="" ng-repeat="goal in viewGoalCtrl.goals">
      <h4 class="goalDisplay">{{goal.activity}}</h4>
      <h4 class="goalDisplay">{{goal.interval}}</h4>
      <button class="btn btn-xs completeBtn" ng-click="viewGoalCtrl.completeGoal(user, goal)" type="button" name="button">Complete</button>
    </div>
  </div>
  <div class="compGoalsDiv">
    <h3>Completed</h3>
    <div class="" ng-repeat="compGoal in viewGoalCtrl.completedGoals">
      <h4 class="compGoalDisplay">{{compGoal.activity}}</h4>
      <h4 class="compGoalDisplay">{{compGoal.interval}}</h4>
      <button class="btn btn-xs deleteBtn" type="button" name="button">x</button>
    </div>
  </div>
</section>
