<h1>EXPERIENCE</h1>

<div id="mainMenu">
  <div class="playGame">
    <section class="spriteImg"></section>
    <button type="button" class="btn btn-lg playBtn" name="button"><a href="#/game-window">Play Game</a></button>
  </div>
  <div class="setGoals">
    <section id="grubSection"></section>
    <button type="button" class="goalsBtn btn btn-lg" name="button"><a href="#/add-goals">Goals</a></button>
  </div>
  <div class="viewStats">
    <section class="spriteImg3"></section>
    <button type="button" class="btn btn-lg" name="button"><a href="#/stats">View Stats</a></button>
  </div>
</div>
