<h1>EXPERIENCE</h1>

<div id="mainMenu">
  <a href="#/game-window"><div class="playGame">
    <section class="spriteImg"></section>
    <button type="button" class="btn btn-lg playBtn" name="button">Begin</button>
  </div></a>
  <a href="#/add-goals"><div class="setGoals">
    <section id="grubSection"></section>
    <button type="button" class="goalsBtn btn btn-lg" name="button">Goals</button>
  </div></a>
  <a href="#/stats"><div class="viewStats">
    <section class="spriteImg3"></section>
    <button type="button" class="btn btn-lg" name="button">Stats</button>
  </div></a>
</div>
