<h1>Add Goal</h1>

<section class="addGoalsContainer">
  <div class="addGoalsDiv">
    <form class="" action="index.html" method="post">
      <a href="#/view-goals" class="viewGoalsBtn"> View Goals </a>
      <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
      <a href="#/game-window" class="playGameBtn"> Play Game </a>
      <form class="" action="index.html" method="post">
        <input type="text" class="form-control activityInput" name="activity" ng-model="newGoal.activity" placeholder="Add Activity" value="">
        <input type="text" class="form-control intervalInput" name="interval" ng-model="newGoal.interval" placeholder="Add Interval" value="">
        <button type="button" class="btn addGoalBtn" ng-click="addGoal(newGoal)" name="button">Add Goal</button>
      </form>
      <section id="grubSection"></section>
  </div>
</section>


<!-- <detail pokemon="caughtCtrl.pokemon" data="caughtCtrl.pokemonData" moves="caughtCtrl.toggleHidden('.moveList')" types="caughtCtrl.toggleHidden('.typeList')"></detail> -->
