
<h1>Goals</h1>

<section class="goalsContainer">
  <div class="addGoalsDiv">

      <a href="#/game-window" class="playGameBtn"> Play Game </a>
      <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
      <a href="#/stats" class="viewStatsBtn"> View Stats </a>

      <div class="goalsDiv">
        <ul class="mainList">

          <li><a href="#/goals/strength">Strength</a><i class="fa fa-caret-down"></i></li>
          <li><a href="#/goals/stamina">Stamina</a><i class="fa fa-caret-down"></i></li>
          <li><a href="#/goals/wisdom">Wisdom</a><i class="fa fa-caret-down"></i></li>
          <li><a href="#/goals/intellect">Intellect</a><i class="fa fa-caret-down"></i></li>
          <li><a href="#/goals/dexterity">Dexterity</a><i class="fa fa-caret-down"></i></li>

        </ul>
        </span>
      </div>

      <section class="spriteImg2"></section>


      <section class="viewGoalsContainer">
        <div class="viewGoalsDiv">
          <h3>Activity: {{newGoal.activity}}</h3>
          <h3>Interval: {{newGoal.interval}}</h3>
        </div>
        <div class="viewGoalsDiv" ng-repeat="goal in goalCtrl.goals">
          <h3>{{goal}}</h3>
        </div>
      </section>

  </div>
</section>
