
<h1>Goals</h1>

<section class="goalsContainer">
  <div class="addGoalsDiv">
      <a href="#/stats" class="viewStatsBtn"> View Stats </a>
      <a href="#/main-page" class="mainMenuBtn"> Main Menu </a>
      <a href="#/game-window" class="playGameBtn"> Play Game </a>

      <div class="goalsDiv">

        <span uib-dropdown ng-class='{open: open}'>
        <ul class="mainList">
          <li><a href="#/goals/strength">Strength<i class="fa fa-caret-down"></i></a></li>
          <li><a href="#/goals/stamina">Stamina<i class="fa fa-caret-down"></i></a></li>
          <li><a href="#/goals/wisdom">Wisdom<i class="fa fa-caret-down"></i></a></li>
          <li><a href="#/goals/intellect">Intellect<i class="fa fa-caret-down"></i></a></li>
          <li><a href="#/goals/dexterity">Dexterity<i class="fa fa-caret-down"></i></a></li>
        </ul>
        </span>
      </div>

      <section id="grubSection"></section>


      <section class="viewGoalsContainer">
        <div class="viewGoalsDiv">
          <h3>Activity: {{newGoal.activity}}</h3>
          <h3>Interval: {{newGoal.interval}}</h3>
        </div>
      </section>

  </div>
</section>


<!-- <form class="addGoalForm" action="index.html" method="post">
  <input type="text" class="form-control activityInput" name="activity" ng-model="newGoal.activity" placeholder="New Activity" value="">
  <input type="text" class="form-control intervalInput" name="interval" ng-model="newGoal.interval" placeholder="New Interval" value="">
  <button type="button" class="btn addGoalBtn" ng-click="addGoal(newGoal)" name="button">Add Goal</button>
</form> -->
