<h1>GOALS</h1>


<div class=""></div>


<view-goals data='goals'></view-goals>





<!-- <section class="viewGoalsContainer">
  <div class="viewGoalsDiv">
    <a href="#/add-goals" id="addGoalBtn"> New Goal </a>
    <a href="#/main-page" id="mainMenuBtn"> Main Menu </a>
    <a href="#/game-window" id="playGameBtn"> Play Game </a>
    <h3>{{newGoal.activity}}</h3>
  </div>
  <div class="intervalDiv">
    <h3>{{newGoal.interval}}</h3>
  </div>
</section> -->

<!-- <caught ng-repeat="pokemon in caughtCtrl.caughtPokemon" pokemon="pokemon" action="caughtCtrl.deletePokemon(pokemon)" details="caughtCtrl.detail(pokemon._id)">
</caught> -->
